- unless @some_contacts.empty?
  %h2
    = t 'person.contacts'
  %ul.grid.contacts.small
    - @some_contacts.each do |contact|
      = render :partial => 'shared/contact', :locals => {:contact => contact}
    %li.more
      = link_to t('person.see_all_contacts'), person_connections_path(person)
