%h2
  = t 'gallery.persons_galleries', :person => h(@person.name)
- if current_person?(@person)
  = link_to t('gallery.add_gallery'), new_gallery_path
%ul#gallery_list.grid
  = render :partial => "shared/gallery", :collection => galleries
= will_paginate(galleries)
