- column_div :type => :primary, :id => 'photos' do
- if !@photos.empty?
  %h2
    = t 'photo.persons_photos', :person => current_person.name
  .button_container
    .button
      = link_to t('photo.add_photo'), new_photo_path()
    .clear
  %ul
    = render :partial=>"shared/photo", :collection => @photos
- else
  %h2
    = t 'photo.no_photos_to_show'
